@use './variables' as *;
.input {
    all: unset;
    height: $input-height;
    border-radius: $input-radius;
    color: $input-color;
    background-color: $input-background;
    padding: $input-padding;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &[type='number'] {
        -moz-appearance: textfield;
    }
}
